#Q1

In [3]:
def f(x):
    if x == 0:
        return 0
       
    elif x == 1:
        return 1
    else:
        return f(x-1) + f(x-2)

In [5]:
f(16)

987

#Q2

In [7]:
x = ["kratos alaa","hamada helal","wasla usb","kratos alaa"]
d = {}
for i in x:
    if i in d:
        d[i] +=1
    else:
        d[i] =1
d

{'kratos alaa': 2, 'hamada helal': 1, 'wasla usb': 1}

#Q3

In [17]:
def fp(l,l2):
    R = []
    while l:
        num = l.pop()
        diff = l2 - num
        if diff in l:
            R.append((diff , num))
    return R

In [18]:
fp([1,2,34,5,6,73,3,8] ,9)

[(1, 8), (6, 3)]

#Q4

In [25]:
def max_sum(num):
    num.sort()
   
    return (num[-2] , num[-1])

In [26]:
max_sum([34,235,75,236,7,886,57])

(236, 886)

#Q5

In [29]:
for i in range(1,101):
    if i <= 1:
        pass
    else:
        for j in range(2,i):
            if i % j == 0:
                break
        else:
                print(i,"prime")

2 prime
3 prime
5 prime
7 prime
11 prime
13 prime
17 prime
19 prime
23 prime
29 prime
31 prime
37 prime
41 prime
43 prime
47 prime
53 prime
59 prime
61 prime
67 prime
71 prime
73 prime
79 prime
83 prime
89 prime
97 prime

#Q6

In [13]:
for i in range(1,101):
    if i % 2 == 0 :
        print(i,"even")

2 even
4 even
6 even
8 even
10 even
12 even
14 even
16 even
18 even
20 even
22 even
24 even
26 even
28 even
30 even
32 even
34 even
36 even
38 even
40 even
42 even
44 even
46 even
48 even
50 even
52 even
54 even
56 even
58 even
60 even
62 even
64 even
66 even
68 even
70 even
72 even
74 even
76 even
78 even
80 even
82 even
84 even
86 even
88 even
90 even
92 even
94 even
96 even
98 even
100 even

In [33]:
def rev(x):
    return ' '.join(x.split()[::-1])

In [34]:
rev("hello world")

'world hello'

#Q8

In [1]:
x = int(input("Enter a number: "))
y = str(x)
if y == y[::-1]:
    print(True)
else:
    print(False)

Enter a number: 505
True

#Q9

In [2]:
x = input("enter word ")
if x == x[::-1]:
    print(True)
else:
    print(False)

enter word lol
True

#Q10

In [27]:
def sq(x):
    lst = []
    for x in range(1,31):
        lst.append(x **2)
    print(lst)
sq(1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

#Q11

In [74]:
def per(s,i=0):
    if i == len(s):
        print("".join(s))
    for j in range(i, len(s)):
        w = [c for c in s]
        w[i], w[j] =  w[j], w[i] 
        
        per(w , i + 1)

In [75]:
per("123")

123
132
213
231
321
312

In [54]:
def fac(x):
    if x == 1:
        return 1 
    else:
        return x * factorial(x-1)

In [62]:
def perm(n,r):
    
    fac(n)/fac(n-r)
    return fac(n)/fac(n-r)

In [64]:
perm(3,2)

6.0

#Q12

In [ ]:
def fun1():
    def fun2():